In [4]:
import pandas as pd

In [ ]:
# !wget https://raw.githubusercontent.com/lazyprogrammer/machine_learning_examples/master/tf2.0/sbux.csv

In [8]:
df = pd.read_csv('sbux.csv') # This loads "dataframe"
df

            date    open    high     low   close    volume  Name
0     2013-02-08  27.920  28.325  27.920  28.185   7146296  SBUX
1     2013-02-11  28.260  28.260  27.930  28.070   5457354  SBUX
2     2013-02-12  28.000  28.275  27.975  28.130   8665592  SBUX
3     2013-02-13  28.230  28.230  27.750  27.915   7022056  SBUX
4     2013-02-14  27.765  27.905  27.675  27.775   8899188  SBUX
...          ...     ...     ...     ...     ...       ...   ...
1254  2018-02-01  56.280  56.420  55.890  56.000  14690146  SBUX
1255  2018-02-02  55.900  56.320  55.700  55.770  15358909  SBUX
1256  2018-02-05  55.530  56.260  54.570  54.690  16059955  SBUX
1257  2018-02-06  53.685  56.060  53.560  55.610  17415065  SBUX
1258  2018-02-07  55.080  55.430  54.440  54.460  13927022  SBUX

[1259 rows x 7 columns]

In [11]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.head() # shows only top rows of data frame

         date    open    high     low   close   volume  Name
0  2013-02-08  27.920  28.325  27.920  28.185  7146296  SBUX
1  2013-02-11  28.260  28.260  27.930  28.070  5457354  SBUX
2  2013-02-12  28.000  28.275  27.975  28.130  8665592  SBUX
3  2013-02-13  28.230  28.230  27.750  27.915  7022056  SBUX
4  2013-02-14  27.765  27.905  27.675  27.775  8899188  SBUX

In [16]:
# df.to_numpy() # This would convert dataframe to numpy (not needed as of now I believe )

In [19]:
df.head(10) # first 10 lines of dataframe

         date    open    high     low   close    volume  Name
0  2013-02-08  27.920  28.325  27.920  28.185   7146296  SBUX
1  2013-02-11  28.260  28.260  27.930  28.070   5457354  SBUX
2  2013-02-12  28.000  28.275  27.975  28.130   8665592  SBUX
3  2013-02-13  28.230  28.230  27.750  27.915   7022056  SBUX
4  2013-02-14  27.765  27.905  27.675  27.775   8899188  SBUX
5  2013-02-15  27.805  27.850  27.085  27.170  18195730  SBUX
6  2013-02-19  27.180  27.305  27.010  27.225  11760912  SBUX
7  2013-02-20  27.300  27.420  26.590  26.655  12472506  SBUX
8  2013-02-21  26.535  26.820  26.260  26.675  13896450  SBUX
9  2013-02-22  26.850  27.105  26.640  27.085  11487316  SBUX

In [21]:
df.tail()

            date    open   high    low  close    volume  Name
1254  2018-02-01  56.280  56.42  55.89  56.00  14690146  SBUX
1255  2018-02-02  55.900  56.32  55.70  55.77  15358909  SBUX
1256  2018-02-05  55.530  56.26  54.57  54.69  16059955  SBUX
1257  2018-02-06  53.685  56.06  53.56  55.61  17415065  SBUX
1258  2018-02-07  55.080  55.43  54.44  54.46  13927022  SBUX

In [24]:
df.info() # Information about datarame - number of entries, etc, dtype => object type (Eg. float64, int64, object) and so on, memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1259 non-null   object
 1   open    1259 non-null   float64
 2   high    1259 non-null   float64
 3   low     1259 non-null   float64
 4   close   1259 non-null   float64
 5   volume  1259 non-null   int64
 6   Name    1259 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 69.0+ KB